<% title "Responses" %>

<table>
  <tr>
    <th>Punishment</th>
    <th>Appropriate When</th>
  </tr>
  <% for response in @responses %>
    <tr>
      <td><%=h response.punishment %></td>
      <td><%=h response.appropriate_when %></td>
      <td><%= link_to "Show", response %></td>
      <td><%= link_to "Edit", edit_response_path(response) %></td>
      <td><%= link_to "Destroy", response, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Response", new_response_path %></p>
