<% title "Punishments" %>
<p><%= link_to image_tag("/images/add.png"), new_punishment_path %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for punishment in @punishments %>
    <tr>
      <td><%=h punishment.name %></td>
      <td><%=h punishment.description %></td>
      <td><%= link_to image_tag("/images/show.png"), punishment %></td>
      <td><%= link_to image_tag("/images/edit.png"), edit_punishment_path(punishment) %></td>
      <td><%= link_to image_tag("/images/delete.png"), punishment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


